<%- include('../../fragments/header.ejs')%>
<main>
    <script type="application/javascript" src="/js/validationSzczegolyZamowienia.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= szczegoly._id %>">

        <label for="zamowienie_id">Klient:  <span class="symbol-required"></span></label>
        <select id="zamowienie_id"  name="zamowienie_id" required <%=(formMode === 'showDetails') ? 'disabled' : ''%>>
            <option value="" selected>-- Wybierz Klienta --</option>
            <% for (let i=0; i< allZamowienie.length ;i++) {let zam =allZamowienie[i]; %>
            <option value="<%=zam._id %>" label="<%= zam.klient%>"
                    <%=(szczegoly._id && zam._id.toString()===szczegoly.zamowienie_id.toString()) ?'selected':''%>></option>
            <% } %>
        </select>
        <span id="errorKlient"></span>

        <label for="produkty_id">Produkt:  <span class="symbol-required"></span></label>

        <select id="produkty_id"  name="produkty_id" required <%=(formMode === 'showDetails') ? 'disabled' : ''%>>
            <option value="" selected>-- Wybierz Produkt --</option>
            <% for (let i=0; i<allProdukty.length;i++) {let zam =allProdukty[i]; %>
            <option value="<%=zam._id %>" label="<%= zam.nazwa%>"
                    <%=(szczegoly._id && zam._id.toString()===szczegoly.produkty_id.toString()) ?'selected':''%>></option>
            <% } %>
        </select>
        <span id="errorProdukt"></span>

        <label for="Ilosc">Ilość:  </label>
        <input type="number" name="Ilosc" id="Ilosc" placeholder="" value="<%= szczegoly.Ilosc %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorIlosc"></span>

        <label for="Rabat">Rabat:  </label>
        <input type="number" name="Rabat" id="Rabat" placeholder="" value="<%= szczegoly.Rabat %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorRabat"></span>

        <span id="errorsSummary" class="errors-text"></span>

        <% if(formMode === 'showDetails') { %>
            <div>
                <a class="list-actions-button-edit" href="/szczegolyZamowienia/edit/<%= szczegoly._id %>">Edytuj</a>
            </div>
        <% } %>

        <div>
            <p id="errorsSummary" class="errors-text"></p>

            <% if (formMode !== 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/szczegolyZamowienia">Anuluj</a>
            <% }else { %>
                <a class="form-button-cancel" href="/szczegolyZamowienia">Powrót</a>
            <% } %>
        </div>
    </form>
</main>
</main>
<%- include('../../fragments/footer.ejs')%>