<%- include('../../fragments/header.ejs')%>
<main>
    <h2>Dane o zamówieniach</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Klient</th>
            <th>Nazwa Produktu</th>
            <th>Ilosc </th>
            <th>Rabat </th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% for (let szcz of szczegoly) { %>
            <tr>
                <td><%= szcz.zamowienia.klient %></td>
                <td><%= szcz.produkty.nazwa %></td>
                <td><%= szcz.Ilosc %></td>
                <td><%= szcz.Rabat %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/szczegolyZamowienia/details/<%=szcz._id%>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/szczegolyZamowienia/edit/<%=szcz._id%>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="/szczegolyZamowienia/delete/<%=szcz._id%>" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>

    </table>

    <p><a href="/szczegolyZamowienia/add" class="button-add">Dodaj nowe Szczegóły Zamówienia</a></p>

</main>
<%- include('../../fragments/footer.ejs')%>