<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationProdukty.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="_id" value="<%= produkt._id %>">

        <label for="nazwa">Nazwa: </label>
        <input type="text" name="nazwa" id="nazwa" placeholder="2-60 znakow" value="<%= produkt.nazwa %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorNazwa"></span>

        <label for="cenaZaSztuke">Cena za sztuke: </label>
        <input type="number" name="cenaZaSztuke" id="cenaZaSztuke" placeholder="np 1"
               value="<%= produkt.cenaZaSztuke %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorCenaZaSztuke"></span>

        <label for="wycofano">Wycofano: </label>
        <input type="number" name="wycofano" id="wycofano" placeholder=""
               value="<%= produkt.wycofano %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorWycofano"></span>

        <span id="errorsSummary" class="errors-text"></span>

        <% if(formMode === 'showDetails') { %>
            <div>
                <a class="list-actions-button-edit" href="/produkty/edit/<%= produkt._id %>">Edytuj</a>
            </div>
        <% } %>

        <div>
            <p id="errorsSummary" class="errors-text"></p>

            <% if (formMode !== 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/produkty">Anuluj</a>
            <% }else { %>
                <a class="form-button-cancel" href="/produkty">Powrót</a>
            <% } %>
        </div>
    </form>
    <% if (formMode === 'showDetails' || formMode === 'edit') { %>
        <h2>Szczegóły Produktu</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Klient</th>
                <th>NIP Klienta</th>
                <th>Data zamówienia</th>
            </tr>
            </thead>
            <tbody>
            <% for (let e of produkt.szczegolyZamowienia) { %>
                <tr>
                    <td><a href="/zamowienie/details/<%= e.zamowienia._id %>"><%= e.zamowienia.klient %></a></td>
                    <td><%= e.zamowienia.nipKlienta %></td>
                    <td><%= e.zamowienia.dataZamowienia.toISOString().split('T')[0] %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>
