<%- include('../../fragments/header.ejs')%>
        <main>
            <h2>Lista zamówień</h2>
            <table class="table-list">
            <thead>
                <tr>
                    <th>Klient</th>
                    <th>NIP Klienta</th>
                    <th>Data zamówienia</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            <% for (let zam of zamowienie) { %>
                <tr>
                    <td><%= zam.klient %></td>
                    <td><%= zam.nipKlienta %></td>
                    <td><%= fmt.formatDate(zam.dataZamowienia) %></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/zamowienie/details/<%=zam._id%>" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="/zamowienie/edit/<%=zam._id%>" class="list-actions-button-edit">Edytuj</a></li>
                            <li><a href="/zamowienie/delete/<%=zam._id%>" class="list-actions-button-delete">Usuń</a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>
            </tbody>
           </table>
           <p><a href="/zamowienie/add" class="button-add">Dodaj nowego Klienta</a></p>
        </main>
<%- include('../../fragments/footer.ejs')%>